<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SharePointSiteURL" value="https://codedocs.sharepoint.com/sites/intranet/"/>
    <add key="ContentTypeHub" value="https://codedocs.sharepoint.com/sites/contentTypeHub"/>
    <add key="Username" value="codedocs@codedocs.onmicrosoft.com"/>
    <add key="RootCustomMasterPageFolderUrl" value="//_catalogs//masterpage//DI"/>
    <add key="Password" value="W0rkstation!23"/>
  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>