<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Sites" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="ClientId" value="fc508efe-0b6e-4e22-80ba-d1394fd9b886"/>
    <add key="ClientSecret" value="0mcvHtidBeSSzvkznpT5WU7/AwsqAJLpLB9DpweTnto="/>    
  </appSettings>
  <Sites>
    <add key="site1" value="https://codedocs.sharepoint.com/sites/intranet"/>
    <add key="site2" value="https://codedocs.sharepoint.com"/>
  </Sites>
</configuration>
